<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <hr>
  <h3>フォーム</h3>
  <form action="/hello" method="post">
    <input type="text" name="input1"><br>
    <textarea name="comment"></textarea>
    <input type="submit" value="送信">
  </form>
  </body>
</html>
