
<h2>※サンプルで作ったコンテンツです。</h2>
<p><%= message %></p>
<hr>
<form method="post" action="/result">
    ID:<input type="text" name="idname">
    PASS:<input type="password" name="pass">
    <input type="submit">
</form>
<hr>
<p><a href="/">戻る</a></p>

